@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap');
 body {
	 font-family: 'Muli', sans-serif;
}

.bar {
    color: white !important;
  }
.formInput{
  margin:50px ;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.Polaris-Connected{
  margin: 5px;
}